.showBlocklyUi {
    display: on;
    width: 90vw;
    height: 90vh;
    top: 5vh;
    left: 5vw;
    background-color: #ffffff;
    color: #666666;
    position:fixed;
    z-index: 101;
}

.hideBlocklyUi {
    display: none;
}

.showMordalBackground {
    display:on;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
}

.hideMordalBackground {
    display:none;
}
